*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: burlywood;
}
.container{
    background: rgba( 255, 255, 255, 0.2 );
    backdrop-filter: blur( 3px );
    -webkit-backdrop-filter: blur( 3px );
    border-radius: 1px;
    width: 100vw;
    height: 13vh;
    border-bottom: solid 1px white;
    
}

nav > ul{
    display: flex;
    list-style: none;
    float: right;
    margin-right: 15vw;
    gap: 5vw;
    font-weight: bold;
    font-family:  'Lato' , sans-serif;
    font-size: 1.1em;
    padding-top: 5vh;
}
li > a{
    text-decoration: none;
    color: black
}
li > a:hover{
    color:#6d28d9
}
img{
    position: absolute;
    margin-left:15vw;
    float: left;
    padding-top:3vh;
}